/* *html{
  height: 100vh;
  background-color: red;
}
*body{
  height: 100vh;
  background-color: red;
} */

.App{
  height: 95vh;
  display: grid;
  grid-template-columns: 2fr 6fr;
  margin: 1rem 1rem;
  gap: 1rem;
} 